extends layout

block append scripts
  script(src="/js/index.js")
  script(src="/js/index.io.js")
  script(src="/js/keyboard.js")
  script(src="/js/equalizer.js")

block append style
  link(rel='stylesheet', href='/css/style.css')

block content
  h2 音色 
    br
    form#submit_form(method="POST", action="/api/channel/voice/program/change")
      select#programs
        each program, i in programChange
          option(value=i+1) #{programChange[i]}
  h2 ピッチ 
    #slider-pitch

  h2 モジュレーション 
    #slider-modulation

  svg#equalizer
  svg#keyboard

  h2 デバッグメッセージ
    #message
