body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#slider-vertical-pitch {
  height:200px;
}

#slider-vertical-modulation {
  height:200px;
}
