body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#programs {
  height:40px;
  width:200px;
}
#slider-volume {
  height:20px;
  width:200px;
}

#slider-pitch {
  height:20px;
  width:200px;
}

#slider-modulation {
  height:20px;
  width:200px;
}


svg#equalizer {
  height:150px;
  width:800px;
}

.sound-bar {
  //height:128px;
}
svg#keyboard {
  height:150px;
  width:3000px;
}
.white-key {
  fill:white;
  stroke:black;
  width:11.5px;
  height:60px;
}
.black-key {
  fill:black;
  stroke:black;
  width:6.5px;
  height:40px;
}
